.button {
  border-radius: 30px;
  padding: 6px 5px 5px 21px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
  min-height: 44px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    right: 4px;
    top: 4px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 17px;
    width: 8px;
    top: 17px;
    height: 8px;
    z-index: 1;
  }
}

.button--light {
  border: 1px solid $primary-color;
  color: $primary-color;

  &::after {
    background-color: $primary-color;
  }

  &::before {
    mask-image: url("../../__spritemap#sprite-arrow-right-top-view");
    background-color: $white-color;
  }
}

.button--hero {
  &::before {
    mask-image: url("../../__spritemap#sprite-arrow-right-top-second-view");
    background-color: $white-color;
  }
}

.button--blue {
  border: 1px solid $white-color;
  color: $white-color;
  background-color: $primary-color;

  &::after {
    background-color: $white-color;
    flex-basis: 34px;
  }

  &::before {
    mask-image: url("../../__spritemap#sprite-arrow-right-top-view");
    background-color: $primary-color;
  }
}

.button--light:hover:not(:disabled):not(.button--disabled) {
  background-color: $primary-color;
  color: $white-color;
  transition: 0.3s;

  &::after {
    background-color: $white-color;
    transition: 0.3s;
  }

  &::before {
    mask-image: url("../../__spritemap#sprite-arrow-right-top-view");
    background-color: $primary-color;
    transition: all 0.3s;
    transform: rotate(45deg);
  }
}

.button--light:focus:focus-visible:not(:disabled):not(.button--disabled),
.button--light:focus-visible:not(:disabled):not(.button--disabled) {
  outline: none;

  &::before {
    transition: all 0.3s;
    transform: rotate(45deg);
  }
}

.button--light:active {
  opacity: 0.7;
}

.button--light:disabled,
.button--light.button--disabled {
  color: $state-disabled-color;
  border-color: $state-disabled-color;
  pointer-events: none;
  outline: none;

  &::after {
    background-color: $state-disabled-color;
  }
}
