.card {
  color: $white-color;
  padding: 16px 21px;
  border: 1px solid $beige-color;
  border-radius: 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    left: -20px;
    top: -19px;
    border-radius: 50%;
    background-color: $primary-color;
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: $beige-color;

  span {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
}

.card--star {
  &::before {
    background-image: url("../../__spritemap#sprite-star-view");
  }
}

.card--number {
  padding: 25px 26px;

  &::before {
    counter-increment: count-list;
    content: counter(count-list);
    color: $white-color;
    font-size: 20px;
  }
}
