.card-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 568px;
  justify-content: end;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $text-color;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.card-hero__image {
  position: absolute;
  width: 100%;

  img {
    width: 100%;
    display: block;
  }
}

.card-hero__content {
  position: relative;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    bottom: 60px;
  }
}

.card-hero__content-heading {
  border-radius: 0 16px 16px 0;
  padding: 20px 14px 0;
  background-color: $white-color;
  width: 100%;
  min-height: 140px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-top: 30px;
    width: 97%;
    border-radius: 0 30px 30px 0;
    min-height: 141px;
  }

  @media (min-width: $desktop-width) {
    width: 79%;
  }
}

.card-hero__content-text {
  border-radius: 0 0 14px;
  padding: 0 14px 15px;
  width: 92%;
  min-height: 115px;
  background-color: $white-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    width: 8px;
    height: 10px;
    background-image: url("../../__spritemap#sprite-angle-view");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 30px;
    padding-bottom: 36px;
  }
}

.card-hero__content-button {
  border-radius: 0 0 14px 14px;
  padding: 10px 15px;
  width: 63%;
  min-height: 64px;
  background-color: $white-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    width: 8px;
    height: 10px;
    background-image: url("../../__spritemap#sprite-angle-view");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;
    padding: 0;

    &::after {
      right: -65px;
      width: 26px;
      height: 27px;
      background-size: 26px;
    }
  }
}

.card-hero__content-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  color: $primary-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.card-hero__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-right: 40px;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
    width: 593px;
    gap: 43px;
  }
}

.card-hero__button {
  @media (min-width: $tablet-width) {
    width: 198px;
  }
}
