.card {
  color: #ffffff;
  padding: 16px 21px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border: 1px solid #f0efe9;
  border-radius: 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    left: -20px;
    top: -23px;
    border-radius: 50%;
    background-color: $primary-color;
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: $beige-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  span {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding-right: 40px;
      font-size: 20px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      font-size: 26px;
      line-height: 30px;
      padding-right: 175px;
    }
  }
}

.card--star {
  &::before {
    background-image: url("../../__spritemap#sprite-star-view");
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 171px 1fr;
    gap: 30px;
    padding: 30px 41px;
    align-items: center;

    p span {
      padding-right: 0;
      margin-bottom: 0;
    }
  }
}

.card--number {
  padding: 25px 26px;
  padding-bottom: 23px;

  br {
    display: none;
  }

  &::before {
    counter-increment: count-list;
    content: counter(count-list);
    color: $white-color;
    width: 32px;
    height: 32px;
    left: -16px;
    top: -5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
    padding-top: 30px;

    br {
      display: block;
    }

    &::before {
      width: 42px;
      height: 41px;
      left: -21px;
      top: -15px;
      font-size: 22px;
    }
  }
}

.card.card--number {
  @media (min-width: $desktop-width) {
    p {
      line-height: 26px;
      letter-spacing: 0.1px;
    }
  }
}
