.card-second {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: end;
  border-radius: 12px;

  img {
    width: 100%;
    display: block;
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
  }

  &--news {
    min-height: 330px;
  }

  &--small {
    min-height: 240px;
  }
}

.card-second--news .card-second__title {
  border-top-left-radius: 0;
  padding-left: 0;
  background-color: $beige-color;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 4px;

  &::after {
    mask-image: url("../../__spritemap#sprite-angle-bottom-view");
    background-color: $beige-color;
  }
}

.card-second--news .card-second__content {
  bottom: 0;
  padding: 0 10px 0 0;
  padding-left: 0;
}

.card-second--news .card-second__content-text {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  width: 263px;
  padding: 13px 10px 9px 0;
  background-color: $beige-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 16px;
    height: 16px;
    mask-image: url("../../__spritemap#sprite-angle-bottom-view");
    background-color: $beige-color;
  }
}

.card-second__date {
  background-color: $beige-color;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $primary-color;
  position: relative;
  border-radius: 0 12px 0 0;
  width: 78px;
  display: block;
  padding: 13px 12px 5px 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 16px;
    height: 16px;
    mask-image: url("../../__spritemap#sprite-angle-bottom-view");
    background-color: $beige-color;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 16px;
    height: 16px;
    mask-image: url("../../__spritemap#sprite-angle-bottom-view");
    background-color: $beige-color;
  }
}

.card-second__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-second__content {
  position: relative;
  bottom: 18px;
  left: 0;
  right: 0;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

.card-second__title {
  background-color: $white-color;
  min-width: 146px;
  width: fit-content;
  font-weight: 400;
  border-radius: 12px 12px 0 0;
  padding: 18px 18px 6px;
  font-size: 16px;
  line-height: 112%;
  color: $primary-color;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    mask-image: url("../../__spritemap#sprite-angle-bottom-view");
    background-color: $white-color;
    background-repeat: no-repeat;
    position: absolute;
    right: -18px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
  }
}

.card-second__content-text {
  background-color: $white-color;
  border-radius: 0 12px 12px;
  padding: 13px 17px 14px 18px;
  width: 100%;
  display: flex;
  align-items: center;

  p {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: $text-color;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 10px;
  }

  @media (min-width: $tablet-width) {
    p {
      padding-right: 46px;
    }
  }
}

.card-second__content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $primary-color;
  border-radius: 50%;
  flex-shrink: 0;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    mask-image: url("../../__spritemap#sprite-arrow-right-top-view");
    background-color: #ffffff;
  }
}
