.faq {
  margin-top: -5px;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 62px;
  }
}

.faq__title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}
