.footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }
}

.footer__menu {
  @include list-style-none;

  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    column-gap: 15px;
  }
}

.footer__menu-link {
  text-decoration: none;
  color: $text-color;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__info {
  text-align: center;
  margin-bottom: 13px;
  font-size: 12px;
  line-height: 117%;
  color: $text-color;
}

.footer__info-politics {
  font-size: 12px;
  line-height: 117%;
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-bottom: 0;
  }
}

.footer__copy {
  opacity: 0.6;
}

.footer__social {
  @include list-style-none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 128px;
    margin: 0;
    margin-left: auto;
    align-self: flex-start;
  }
}

.footer__social-link {
  width: 26px;
  height: 26px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
  }
}

.footer__top {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 98px;
    margin-bottom: 5px;
  }
}

.footer__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
