.form {
  border-radius: 16px;
  padding: 15px;
  padding-top: 16px;
  padding-bottom: 27px;

  background-color: $primary-color;
  margin-left: auto;
  margin-right: auto;
  color: $white-color;

  @media (min-width: $tablet-width) {
    width: 442px;
    margin-left: 0;
    padding: 40px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
    padding-top: 44px;
    padding-left: 70px;
    padding-bottom: 40px;
  }
}

.form__container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 43px;
  padding-bottom: 40px;
  /* stylelint-disable-next-line */
  background-image: image-set(
    url("../../img/form/photo-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../img/form/photo-mobile@2x.jpg") type("image/jpeg") 2x,
    url("../../img/form/photo-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/form/photo-mobile@2x.webp") type("image/webp") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    border-radius: 16px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* stylelint-disable-next-line */
    background-image: image-set(
      url("../../img/form/photo-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../img/form/photo-tablet@2x.jpg") type("image/jpeg") 2x,
      url("../../img/form/photo-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/form/photo-tablet@2x.webp") type("image/webp") 2x
    );
  }

  @media (min-width: $desktop-width) {
    /* stylelint-disable-next-line */
    background-image: image-set(
      url("../../img/form/photo-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../img/form/photo-desktop@2x.jpg") type("image/jpeg") 2x,
      url("../../img/form/photo-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/form/photo-desktop@2x.webp") type("image/webp") 2x
    );
    padding-left: 0;
  }
}

.form-block {
  padding-right: 0;
  padding-left: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-right: 58px;
    padding-left: 58px;
    padding-top: 50px;
    border-radius: 16px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 59px;
  }
}

.form__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: $white-color;
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 34px;
  }
}

.form__description {
  color: $beige-color;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  color: $beige-color;
  opacity: 0.8;
  margin-bottom: 12px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
  height: 50px;

  &--textarea {
    min-height: 94px;
    vertical-align: top;

    @media (min-width: $tablet-width) {
      min-height: 88px;
    }

    @media (min-width: $desktop-width) {
      min-height: 90px;
    }
  }

  &--select {
    appearance: none;
    background-image: url("../../__spritemap#sprite-arrow-select-down-view");
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 16px 9px;
  }

  @media (min-width: $desktop-width) {
    width: 92%;
  }
}

.form__item {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.form__check-text {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.9;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 12px;

    br {
      display: none;
    }
  }
}

.form__button {
  width: 260px;
  padding-left: 74px;

  @media (min-width: $tablet-width) {
    width: 352px;
    min-height: 56px;
    padding-left: 108px;
    padding-top: 15px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.form__check-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__check-custom {
  width: 22px;
  height: 20px;
  position: relative;
  background-color: #ffffff;
  display: block;

  @media (min-width: $tablet-width) {
    width: 20px;
  }
}

.form__check-input[type="checkbox"]:checked + .form__check-custom {
  background-image: url("../../__spritemap#sprite-check-view");
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: center;

  background-color: $white-color;
}
