.grant {
  background-color: $primary-color;
  padding-top: 70px;
  padding-bottom: 70px;
  color: $white-color;
}

.grant__title {
  color: $white-color;
}

.grant__image {
  img {
    border-radius: 16px;
  }
}

.grant__list {
  @include list-style-none;

  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
