.menu__list {
  display: none;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  border: 1px solid $primary-color;
  border-radius: 30px;
  padding: 4px 5px 4px 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  width: 136px;
  height: 54px;
}

.menu__burger {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  background-color: $primary-color;
  background-image: url("../../__spritemap#sprite-menu-view");
  background-size: 24px 27px;
  background-repeat: no-repeat;
  background-position: center center;
}
