.news {
  padding-top: 50px;
  padding-bottom: 106px;

  @media (min-width: $tablet-width) {
    padding-bottom: 118px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.news__group-buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 15px;
  margin-bottom: 24px;
  scroll-padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-left: 47px;
    padding-right: 45px;
    overflow-x: unset;
    gap: 7px;
    margin-bottom: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    gap: 30px;
  }
}

.news__buttons {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -49px;
  display: flex;
  gap: 16px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    bottom: -60px;
    gap: 20px;
  }
}

.news__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  opacity: 0.6;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 14px;

  &--active {
    border: 2px solid $primary-color;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 14px 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 14px 0;
    width: 120px;
    min-height: 46px;
  }
}

.news__carousel .news__carousel-wrapper {
  height: 590px;

  justify-content: space-between;

  // display: grid;
  // grid-template-rows: 1fr 1fr;
  // grid-auto-flow: column;

  @media (min-width: $tablet-width) {
    height: 729px;
    justify-content: unset;
    flex-direction: row;
  }
}

.news__carousel .news__carousel-item {
  max-height: 330px;
}

.news__carousel .news__carousel-item:nth-child(2n) {
  max-height: 240px;
}

.news__carousel {
  position: relative;
}

.news__carousel-control-panel {
  justify-content: space-between;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -48px;

  @media (min-width: $tablet-width) {
    left: 45px;
    right: 45px;
    bottom: -55px;
  }
}

.news__carousel .news__pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  top: auto;
  bottom: 58px;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 160px;
}

.news__dots {
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  opacity: 0.5;

  &--active {
    background-color: $primary-color;
    opacity: 1;
    color: $white-color;
  }
}

.news__title {
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.news__button-pagination {
  width: 26px;
  height: 26px;
  background-color: transparent;
  color: $primary-color;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.5;
  padding: 0;

  &--active {
    opacity: 1;
    background-color: $primary-color;
    color: $white-color;
  }

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
  }
}
