.programs {
  padding-top: 55px;
  padding-bottom: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-top: 53px;
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 100px;
    padding-top: 64px;
    padding-bottom: 92px;
  }
}

.programs__carousel {
  position: relative;
  margin-bottom: 30px;
}

.programs__carousel-control-panel {
  position: absolute;
  top: -56px;
  right: 0;

  @media (min-width: $tablet-width) {
    bottom: -62px;
    top: auto;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.programs__carousel .programs__slider-pagination {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    top: auto;
    bottom: -52px;
    max-width: 562px;
    height: 2px;

    --swiper-pagination-color: #316dc2;
    --swiper-pagination-progressbar-bg-color: rgba(49, 109, 194, 0.2);
  }
}

.programs__button {
  width: 205px;
  padding-left: 31px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    right: 45px;
    width: 234px;
  }

  @media (min-width: $desktop-width) {
    right: 100px;
    top: 63px;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.programs__carousel .programs__slider-scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    top: auto;

    display: block;
    max-height: 2px;
    max-width: 90%;

    --swiper-scrollbar-bottom: -52px;
    --swiper-scrollbar-sides-offset: 0%;
    --swiper-scrollbar-size: 2px;
    --swiper-scrollbar-bg-color: rgba(49, 109, 194, 0.2);
  }
}

.programs__carousel .programs__drag {
  background-color: #316dc2;

  height: 100%;
}
