.reviews__carousel {
  position: relative;
}

.reviews__carousel-control-panel {
  position: absolute;
  top: -56px;
  right: 0;

  @media (min-width: $tablet-width) {
    top: auto;
    right: 45px;
    bottom: -62px;
  }
}

.reviews__carousel .reviews__pagination {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    top: auto;
    bottom: -52px;
    max-width: 562px;
    height: 2px;

    --swiper-pagination-color: #316dc2;
    --swiper-pagination-progressbar-bg-color: rgba(49, 109, 194, 0.2);
  }
}

.reviews__carousel .reviews__item {
  min-height: 100%;
  height: auto;
}

.reviews {
  padding-top: 56px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 112px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 100px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.reviews__heading {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $primary-color;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

.reviews__text {
  p {
    margin: 0;
  }
}
