.reviews-card {
  border: 2px solid $primary-color;
  border-radius: 16px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: $tablet-width) {
    padding: 52px;
  }
}

.reviews-card__avatar {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    display: block;
  }

  span {
    font-size: 14px;
    line-height: 129%;
    color: $primary-color;
  }

  @media (min-width: $tablet-width) {
    span {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.reviews-card__info {
  display: flex;
  gap: 25px;
  margin-bottom: 27px;
}

.reviews-card__info-item {
  dt {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 8px;
  }

  dd {
    margin: 0;
    font-size: 12px;
    line-height: 117%;
    color: $text-color;
    opacity: 0.9;
  }

  @media (min-width: $tablet-width) {
    dd {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.reviews-card__header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
}
