// fonts

$primary-font: "Manrope", "Arial", sans-serif;

// container-width

$tablet-width: 768px;
$desktop-width: 1440px;

// colors

$primary-color: #316dc2;
$white-color: #ffffff;
$beige-color: #f0efe9;
$text-color: #484848;
$dark-overlay-color: rgba(13, 29, 51, 0.4);
$blue-overlay-color: rgba(49, 109, 194, 0.2);
$state-disabled-color: #a9afb7;
$state-active-color: #275699;
$state-error-color: #ff5e66;
